<form [formGroup]="form" (ngSubmit)="submitForm()">
  <label for="value">Decodificar</label>
  <div class="content">
    <div class="value">
      <input type="text" formControlName="value" placeholder="Valor a Decodificar">
      <img src="../assets/success.png" alt="failed" width="25" height="25" *ngIf="status === 'success'">
      <img src="../assets/error.png" alt="success" width="25" height="25" *ngIf="status === 'error'">  
    </div>
    <p *ngIf="status === 'error'">* No es Valido</p>
  </div>
  <button type="submit" [disabled]="!form.valid">
    Decode
  </button>
</form>
